<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>commande effectuée avec succès</h2>
        <p>Vous pouvez vérifier toutes vos commandes dans la section Commandes de votre profil</p>
        <hr />
        <p>merci à vous !</p>
    </div>
</div>